<div layout="column" layout-align="center center">
  <mat-card>
    <h3>Create Resident</h3>
    <!-- {{this.residentForm.value | json}} -->
    <form class="form-container" [formGroup]="residentForm" novalidate (ngSubmit)="onSubmit()">

      <mat-form-field color="primary">
        <input matInput placeholder="Unit" formControlName="unitNum">
        <mat-error *ngIf="residentForm.invalid && residentForm.touched">Unit number is required</mat-error>
      </mat-form-field>

      <mat-form-field color="primary">
        <input matInput placeholder="Access Code" formControlName="accessCode">
        <mat-error *ngIf="residentForm.invalid && residentForm.touched">Access code is required</mat-error>
      </mat-form-field>

      <mat-form-field color="primary">
        <input matInput placeholder="Name" formControlName="fullName">
        <mat-error *ngIf="residentForm.invalid && residentForm.touched">Full name is required</mat-error>
      </mat-form-field>

      <mat-form-field color="accent" style="width: 100%">
        <input matInput [matDatepicker]="dob" placeholder="Choose a birth date" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <mat-error *ngIf="residentForm.invalid && residentForm.touched">
          Birth date is required</mat-error>
      </mat-form-field>

      <mat-form-field color="primary">
        <input matInput placeholder="Email" type="email" formControlName="email">
        <mat-error *ngIf="residentForm.invalid && residentForm.touched">Email is required</mat-error>
      </mat-form-field>

      <mat-form-field color="primary">
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-error *ngIf="residentForm.invalid && residentForm.touched">Password is required</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button [disabled]="!residentForm.valid" type="submit" color="accent">Save</button>
        <button mat-raised-button type="reset" color="primary" style="margin-left: 30px;">Reset</button>
      </div>

    </form>

  </mat-card>
</div>
